{% extends 'MyTreneoBundle::layout.html.twig' %}

{% block title %}Treneo - główna{% endblock %}

{% block content %}
<h1>Start</h1>
    <a href="{{ path('_offer_add_form') }}">Dodaj ofertę</a>

    <div>
    {% for offer in offers %}
        <div>
            <p>{{ offer.name }}</p>
            <p>{{ offer.createdDate|date("Y-m-d") }}</p>
            <p>{{ offer.comments|length }} komentarzy</p>
            <p><a href="{{ path("_offer_show_slug", {"id" : offer.id, "slug" : offer.slug}) }}">Więcej..</a></p>
        </div>
    {% else %}
        <div>
            Brak ofert
        </div>
    {% endfor %}
    </div>
{% endblock %}